.form {
  display: flex;
  gap: 15px;
  margin-top: 2rem;
}
@media screen and (max-width: 660px) {
  .form {
    flex-direction: column;
  }
}
.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formInfoPair {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  display: flex;
  gap: 5px;
}

.counter p {
  width: 30px;
  height: 30px;
  background-color: var(--clr-background-s1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.datePicker {
  display: flex;
  gap: 5px;
}

.datePicker select {
  background-color: var(--clr-background-s1);
  border: none;
  padding: 5px 10px;
  color: white;
  font-family: "Inter", sans-serif;
  border-radius: 5px;
}

.datePicker select:after {
  background-color: var(--clr-background-s1);
  font-family: "Inter", sans-serif;
}
.allOptions {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-background-s1);
  padding: 10px 20px;
  border-radius: 2rem;
  transition: border 200ms ease-in;
}
.inactive {
  border: 2px solid var(--clr-background-s1);
}
.active {
  border: 2px solid var(--clr-primary);
}

.additionalInfo textarea {
  margin-top: 10px;
  width: 100%;
  background-color: var(--clr-background-s1);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.additionalInfo textarea:focus {
  outline: none;
  border: 2px solid var(--clr-background-s2);
}

.input {
  border: none;
  padding: 10px;
  background-color: var(--clr-background-s1);
  color: white;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-p);
}

.input:focus {
  outline: 1px solid var(--clr-background-s2);
}
