.card {
  background: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  min-width: 315px;
  max-width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cardImg {
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: var(--font-size-p);
  overflow: hidden;
  width: 100%;
  height: auto;
}

.cardImg img {
  object-fit: cover;
  object-position: center;
}

.price {
  text-align: right;
  flex: 1;
}

.cardGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}