.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 100;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.navLinks a:focus {
  border: none;
  outline: none;
}

.navLinks a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.navLinks a:hover::after,
.navLinks a:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
