.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #fff;
}
