.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  border-radius: var(--font-size-p);
  width: 100%;
  box-sizing: border-box;
  animation-delay: 500ms;
  animation: fade-in 1s ease-in-out !important;
  background-color: var(--clr-background-s1);
  margin: 15px 0px;
}

.header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.citation {
  padding-left: calc(2 * var(--font-size-p));
  text-indent: calc(-2 * var(--font-size-p));
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
