.grid {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  border-radius: var(--font-size-p);
  width: 100%;
  box-sizing: border-box;
  animation-delay: 500ms;
  animation: fade-in 1s ease-in-out !important;
  background-color: var(--clr-background-s1);
  min-width: 315px;
}

.header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.citation {
  padding-left: calc(2 * var(--font-size-p));
  text-indent: calc(-2 * var(--font-size-p));
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
