.links {
  margin: 0.5rem 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.links a,
.about a {
  color: white;
}


.links a:hover,
.links a:focus {
  color: var(--clr-primary);
}
.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  border-radius: var(--font-size-p);
  width: 100%;
  box-sizing: border-box;
  animation-delay: 500ms;
  animation: fade-in 1s ease-in-out !important;
  background-color: var(--clr-background-s1);
  margin: 15px 0px;
}

.header {
  display: flex;
  gap: 15px;
  align-items: center;
}

.citation {
  font-size: 13px;
  padding-left: calc(2 * var(--font-size-p));
  text-indent: calc(-2 * var(--font-size-p));
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
