.links {
  margin: 2rem 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.about {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.links a,
.about a {
  color: white;
}

.links a:hover,
.links a:focus,
.about a:hover,
.about a:focus {
  color: var(--clr-primary);
}
