.hero {
  display: flex;
  color: #fff;
  padding: 1rem 0rem;
  align-items: center;
  gap: 10%;
  overflow: hidden;
  height: min(calc(90vh - 2.5rem), 922px);
}
.heroText {
  flex: 2;
}

.heroText,
.img {
  z-index: 2;
}
.img {
  flex: 1;
  aspect-ratio: 3 / 4;
  position: relative;
  border-radius: var(--font-size-p);
  overflow: hidden;
  transition: all 1s ease-in;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.hide {
  opacity: 0;
  transform: translateY(-5%);
}
/* .waterMark {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  position: absolute;
  color: #fff;
  opacity: 0.05;
  z-index: 0;
  left: 0;
  top: 600px;
  user-select: none;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.waterMark p {
  font-size: max(400px, 27vw);
  font-weight: 900;
} */

.img img {
  object-fit: cover;
}
.promotion {
  color: white;
  height: min(100vh, 1024px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.promotion h1 {
  margin-top: 1rem;
}
.promoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}
.cardGrid {
  display: flex;
  gap: 15px;
  margin-top: 0.5rem;
  justify-self: center;
}
.promoBacking {
  background-color: #d9d9d9;
  opacity: 19%;
  position: absolute;
  top: min(100vh, 1024px);
  left: 0;
  width: 100%;
  height: min(50vh, 512px);
}

.gallery {
  color: #fff;
}

.galleryGrid {
  /* display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
  justify-content: center; */
  column-count: 3;
  column-gap: 1rem;
}

.galleryImg {
  display: inline-block;
  width: 100%;
  margin: 7.5px 0px;
  border-radius: 15px;
  overflow: hidden;
}
