.hero {
  display: flex;
  color: #fff;
  gap: 10%;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/static/HeroImg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 70%;
  background-attachment: fixed;
  width: 100%;
}
.heroText {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}
.heroText h1 {
  margin-top: 20vh;
  font-size: clamp(60px, 8vw, 123px);
}
.heroText h5 {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(25px, 8vw, 50px);
  width: 85%;
}

.heroText,
.img {
  z-index: 2;
}
.img {
  flex: 1;
  aspect-ratio: 3 / 4;
  position: relative;
  border-radius: var(--font-size-p);
  overflow: hidden;
}
.show,
.hide {
  transition: all 500ms ease-out;
}
.show:nth-child(2),
.hide:nth-child(2) {
  transition-delay: 200ms;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

.hide {
  opacity: 0;
  transform: translateY(-5%);
}
.img img {
  object-fit: cover;
}
.promotion {
  color: white;
  display: flex;
  flex-direction: column;
  height: max-content;
  margin-top: 2rem;
}

.promoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}
.promoHeader div {
  transition: all 200ms ease;
}
.promoHeader div {
  border: 0px solid #fff;
}
.promoHeader div:hover,
.promoHeader div:focus {
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.cardGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 15px;
  row-gap: 15px;
}
@media screen and (max-width: 975px) {
  .cardGrid {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 640px) {
  .cardGrid {
    grid-template-columns: 100%;
  }
  .card {
    transition-delay: 0ms !important;
  }
}
.gallery {
  margin-top: 2rem;
  color: #fff;
}

.galleryGrid {
  column-count: 3;
  column-gap: 1rem;
}

.galleryImg {
  display: inline-block;
  width: 100%;
  margin: 7.5px 0px;
  border-radius: 15px;
  overflow: hidden;
  transition: all 500ms ease;
}

.showImg {
  opacity: 1;
  transform: translateY(0);
}

.hideImg {
  opacity: 0;
  transform: translateY(10%);
}
.quotes {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 15px;
  row-gap: 60px;
  margin-top: 60px;
}

.quote {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  flex: 1;
  transition: all 500ms ease;
  align-items: center;
  position: relative;
  padding-top: 50px;
}

.quote {
  background-color: var(--clr-background-s1);
}
.quoteDetails p {
  text-transform: uppercase;
  font-weight: 600;
  color: #959595;
  font-size: 13px;
}

.avatar {
  border-radius: 40px;
  position: absolute;
  top: -37.5px;
}

.showQuote {
  transform: translateY(0);
  opacity: 1;
}

.hideQuote {
  transform: translateY(15%);
  opacity: 0;
}

.quote:nth-child(2) {
  transition-delay: 200ms;
}

.quote:nth-child(3) {
  transition-delay: 400ms;
}

@media screen and (max-width: 840px) {
  .galleryGrid {
    column-count: 2;
  }
  .quotes {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 640px) {
  .galleryGrid {
    column-count: 1;
  }
  .quotes {
    grid-template-columns: 100%;
  }
}
