/* Package Card Styles */

.card {
  background: none;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 210px;
  padding-bottom: 1rem;
  border-radius: 15px;
}
.card:hover,
.card:focus {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardImg {
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: var(--font-size-p);
  overflow: hidden;
  width: 100%;
  height: auto;
}

.cardImg img {
  object-fit: cover;
  object-position: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 15px;
  row-gap: 15px;
}
.packagesRoot {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.package {
  max-width: 250px;
  min-width: 250px;
  aspect-ratio: 3/ 4;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 7px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
}

.overlay {
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0), #121212);
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.bgImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
  filter: blur(25px);
  position: absolute;
}
.bgOverlay {
  position: absolute;
  background: linear-gradient(to left, rgba(18, 18, 18, 0) 50%, #121212);
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
}
.package img {
  object-fit: cover;
}

.existing {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex: 1 1 auto;
  justify-content: space-between;
}
.stats {
  max-width: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stat h2 {
  font-weight: 600;
}

.stat p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  opacity: 80%;
}
.on,
.off {
  height: 2px;
  border-radius: 2px;
  transition: all ease-in-out 300ms;
}

.on {
  flex: 5;
  background-color: white;
}
.off {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.4);
}
@media screen and (max-width: 975px) {
  .cardGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 640px) {
  .cardGrid {
    grid-template-columns: 100%;
  }
  .card {
    transition-delay: 0ms !important;
  }
}

.show,
.hide {
  transition: all 500ms ease-out;
}
.show {
  transform: translateY(0);
  opacity: 1;
}

.hide {
  transform: translateY(10%);
  opacity: 0;
}
