/* Package Card Styles */

.card {
  background: none;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 210px;
  padding-bottom: 1rem;
  border-radius: 15px;
}
.card:hover,
.card:focus {
  background-color: var(--clr-background-s1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  z-index: 3;
}
/* Location Card Styles */
.locationCard,
.activeLocationCard {
  border-radius: var(--font-size-p);
  background: var(--clr-background-s1);
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: all 200ms ease-in;
}
.locationCard {
  border-bottom: 0px solid var(--clr-background);
  box-sizing: border-box;
}

.locationCard:hover,
.locationCard:focus {
  box-shadow: 2px 0px 10px rgba(255, 255, 255, 0.5);
}
.activeLocationCard {
  border-bottom: 3px solid var(--clr-primary);
}
.locationText {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.iconPairs {
  display: flex;
  justify-content: space-around;
}
.locationCard .iconPairs,
.activeLocationCard .iconPairs {
  background-color: var(--clr-background-s2);
  padding: 10px;
  border-radius: 10px;
}
.bookBack {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: min(45vh, 300px);
  background-color: #fff;
  opacity: 17%;
  z-index: 0;
}
.pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.pair p {
  font-weight: 700;
}
.cardImg {
  aspect-ratio: 16 / 9;
  position: relative;
  border-radius: var(--font-size-p);
  overflow: hidden;
  width: 100%;
  height: auto;
}

.cardImg img {
  object-fit: cover;
  object-position: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 15px;
  row-gap: 15px;
}

.activityCard {
  padding: 5px;
  background-color: var(--clr-background-s1);
  border-radius: 20px;
  position: relative;
  transition: border-bottom 300ms ease-out;
}
.activityImg {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 15px;
}
.activityImg img {
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  aspect-ratio: 16/9;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  padding: 25px 25px 20px 25px;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.activityCard .iconPairs {
  padding: 10px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
}

.active {
  border-bottom: 4px solid var(--clr-primary);
}

.inactive {
  border-bottom: 4px solid var(--clr-background-s2);
}
@media screen and (max-width: 975px) {
  .cardGrid {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 640px) {
  .cardGrid {
    grid-template-columns: 100%;
  }
  .card {
    transition-delay: 0ms !important;
  }
}
.card:nth-child(2) {
  transition-delay: 100ms;
}
.card:nth-child(3) {
  transition-delay: 200ms;
}
.card:nth-child(4) {
  transition-delay: 300ms;
}
.card:nth-child(5) {
  transition-delay: 400ms;
}
.card:nth-child(6) {
  transition-delay: 500ms;
}

.show,
.hide {
  transition: all 500ms ease-out;
}
.show {
  transform: translateY(0);
  opacity: 1;
}

.hide {
  transform: translateY(10%);
  opacity: 0;
}
